
# Bloqueo mediante Rewrite
<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Si alguien intenta entrar a estas carpetas, lanza un 403 Forbidden
    RewriteRule ^(app|config|core|database|views)(/|$) - [F,L]
</IfModule>

# Seguridad Extra impedir que se listen archivos en carpetas vacias
Options -Indexes

# Bloqueo de archivos de configuracion especificos
<FilesMatch "^(app\.php|app\.example\.php|\.gitignore)$">
    Require all denied
</FilesMatch>